{% extends "base.html" %}

{% block title %}My Team{% endblock %}

{% block content %}

<body>          
    <div class="w3-top w3-bar w3-blue" style="opacity: 0.8;">        
        <a class="w3-bar-item w3-button dark"><h3>My Team</h3></a>
        <a href="/pick_team" class="w3-bar-item w3-button dark"><h3>Pick Team</h3></a>
        <a href="/" class="w3-bar-item w3-button dark"><h3>Sign out</h3></a>
        <h3 class="w3-right-align w3-margin-right">You are logged in as {{ template_username }}</h3>
    </div>    
</body>        
<div class="w3-container w3-teal w3-display-middle">
    <h2>My Team</h2>

<form class="w3-container w3-padding-16" >
    <div class="w3-row-padding">
        <div class="w3-half">
            <label class="w3-text-blak"><b>Team Name</b></label>
            <input class="w3-input w3-border w3-light-grey" type="text" name="teamName" placeholder="{{ template_team[0]['team_name'] }}">
        </div>

        <div class="w3-half">
            <label class="w3-text-blak"><b>Goalkeeper</b></label>
            <select class="w3-select" name="goalkeeper">
                <option disabled selected><p>{{ template_team[0]['goalkeeper'] }}</p></option>
            </select>
        </div>
    </div>            
    <div class="w3-row-padding">
        <div class="w3-third">
            <label class="w3-text-white"><b>Defender 1</b></label>
            <select class="w3-select" name="defender1">
                <option disabled selected><p>{{ template_team[0]['defender1'] }}</p></option>
            </select>
        </div>
        <div class="w3-third">
            <label class="w3-text-blak"><b>Defender 2</b></label>
            <select class="w3-select" name="defender2">
                <option disabled selected><p>{{ template_team[0]['defender2'] }}</p></option>
            </select>
        </div>
        <div class="w3-third">
            <label class="w3-text-blak"><b>Defender 3</b></label>
            <select class="w3-select" name="defender3">
                <option disabled selected><p>{{ template_team[0]['defender3'] }}</p></option>
            </select>
        </div>
    </div>
    
    <div class="w3-row-padding">
        <div class="w3-half">
            <label class="w3-text-blak"><b>Midfielder 1</b></label>
            <select class="w3-select" name="midfielder1">
                <option disabled selected><p>{{ template_team[0]['midfielder1'] }}</p></option>
            </select>      
        </div>
        <div class="w3-half">
            <label class="w3-text-blak"><b>Midfielder 2</b></label>
            <select class="w3-select" name="midfielder2">
                <option disabled selected><p>{{ template_team[0]['midfielder2'] }}</p></option>
            </select>  
        </div>
    </div>
    
    <div class="w3-row-padding">
        <div class="w3-half">
            <label class="w3-text-blak"><b>Midfielder 3</b></label>
            <select class="w3-select" name="midfielder3">
                <option disabled selected><p>{{ template_team[0]['midfielder3'] }}</p></option>
            </select>      
        </div>
        <div class="w3-half">
            <label class="w3-text-blak">Midfielder 4</b></label>
            <select class="w3-select" name="midfielder4">
                <option disabled selected><p>{{ template_team[0]['midfielder4'] }}</p></option>
            </select>  
        </div>
    </div>
    
    <div class="w3-row-padding">
        <div class="w3-third">
            <label class="w3-text-blak"><b>Forward 1</b></label>
            <select class="w3-select" name="forward1">
                <option disabled selected><p>{{ template_team[0]['forward1'] }}</p></option>
            </select>
        </div>
        <div class="w3-third">
            <label class="w3-text-blak"><b>Forward 2</b></label>
            <select class="w3-select" name="forward2">
                <option disabled selected><p>{{ template_team[0]['forward2'] }}</p></option>
            </select>
        </div>
        <div class="w3-third">
            <label class="w3-text-blak"><b>Forward 3</b></label>
            <select class="w3-select" name="forward3">
                <option disabled selected><p>{{ template_team[0]['forward3'] }}</p></option>
            </select>
        </div>
    </div>               
</div>

</form>     

</body>        

{% endblock %}
           
