{% extends "base.html" %}

{% block title %}Sign up{% endblock %}

{% block content %}

    <div class="w3-container w3-display-middle">

        <form class="w3-xlarge" action="/sign_up" method="post">

            <input class="w3-input w3-border" type="text" name="uname" placeholder="username">
            <input class="w3-input w3-border" type="password" name="pwd" placeholder="password">
            <input class="w3-input w3-border" type="password" name="repwd" placeholder="repeat password">

            <div class="w3-bar w3-small w3-orange w3-padding">
                
                <span class="w3-bar-item" style="width:67%"><h4>{{ message }}</h4></span>

                <button class="w3-bar-item w3-button w3-teal w3-round-large w3-xlarge" type="submit">Sign up</button>
            </div>

        </form>

    </div>

{% endblock %}